Hey {{USER_NAME}} (@{{USER_SCREENNAME}}), Twitter has suggestions for you!

Did you know that Twitter generates personalized Who To Follow suggestions for you? Following the ones you like will help you stay informed on what matters most to you today and discover what might matter to you most tomorrow.

Curious to know who you're missing on Twitter right now?
View all suggestions for you: {{SUGGESTED_USERS_HEADER_PLAIN}}

Forgot your Twitter password?: {{RESET_PLAIN}}



If you received this message in error and did not sign up for a Twitter account, click on the url below:
{{NOTMYACCOUNT_PLAIN}}