{{#fdb}}
Using cluster file `{{cluster_file}}'.

{{#config}}
Configuration:
  Redundancy mode        - {{redundancy}}
  Storage engine         - {{storage_engine}}
  License                - {{license}}
  Coordinators           - {{coordinators}}
  {{#excludes}}
  Exclusions             - {{exclusions}} \(type `exclude' for details\)
  {{/excludes}}
{{/config}}

{{#cluster}}
Cluster:
  FoundationDB processes - {{processes}}
  {{#note}}
    Note: Production Use with more than 6 processes terminates
          the Community License Agreement and requires an
          Enterprise License Agreement.
  {{/note}}
  Machines               - {{machines}}
  Overall load           - {{load}}%{{reason}}
{{/cluster}}

{{#data}}
Data:
  Replication health     - {{health}}
  Moving data            - {{moving}} GB
  Sum of key-value sizes - {{total}} GB \(estimated\)
  Operating space        - {{least_available}} GB free on most full server
{{/data}}

{{#workload}}
Workload:
  Read rate              - {{read_rate}} Hz
  Write rate             - {{write_rate}} Hz
  Transaction rate       - {{tx_rate}} Hz
  Conflict rate          - {{conflict_rate}} Hz
{{/workload}}

{{#performance}}
Process performance details:
{{#process}}
  {{ip}}:{{port}}\({{cpu}}% cpu;{{machine_cpu}}% machine;{{network}} Gbps;{{disk}}% disk IO\)
{{/process}}
{{/performance}}

{{#coordinator}}
Coordination servers:
{{#server}}
  {{ip}}:{{port}}
{{/server}}
{{/coordinator}}
{{/fdb}}
