USER             PID  %CPU %MEM      VSZ    RSS   TT  STAT STARTED      TIME COMMAND
{{#process}}
{{user}}\s+{{pid}}\s+{{cpu}}\s+{{memory}}\s+{{virtual_memory}}\s+{{resident_memory}}\s+{{tt}}\s+{{stat}}\s+{{started}}\s+{{cpu_time}}\s+{{command}}
{{/process}}
